<% title "Sign in" %>

<%= formalwear_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal user_new" } do |f| %>
    <%= f.fieldset title, :class => 'sign_in' do %>
        <%= f.email_field_group :email %>
        <%= f.password_field_group :password %>
        
        <% if devise_mapping.rememberable? %>
            <%= f.group do %>
                <label for="user_remember_me" class="checkbox">
                    <%= f.check_box :remember_me %> Remember me
                </label>
            <% end %>
        <% end %>    
    <% end %>
    
    <%= f.actions do %>
        <%= f.submit title %>
    <% end %>
<% end %>

<%= render "devise/shared/links" %>
